/* app css stylesheet */

body {
    font-size: 13px;
}

#blocking-overlay, #loading-overlay {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: progress;
}

#blocking-overlay {
    z-index: 1000;
}

#loading-overlay {
    z-index: 1001;
    background-color: #ffffff;
    opacity: 0.8;
}

#loading-overlay .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

#loading-overlay .wrapper .uil-pacman-css {
    margin: auto;
}

/* disables selecting content */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    cursor: pointer;
}

.background-grey {
    background-color: #f3f3f3;
}

.color-warning {
    color: #f7ce2b;
}

.color-error {
    color: #b12704;
}

.color-grey {
    color: #555555;
}

.text-big {
    font-size: 21px;
}

.text-medium {
    font-size: 17px;
}

.text-small {
    font-size: 12px;
}

.text-smallest {
    font-size: 11px;
}

.text-bold {
    font-weight: 700;
}

.text-bolder {
    font-weight: 900;
}

.text-light {
    color: #999;
}

.text-code {
    font-family: monospace;
}

.text-underline {
    text-decoration: underline;
}

.inline > * {
    float: left;
}

.disabled {
    opacity: 0.6;
}

.button-primary {
    color: #111;
    background: #f3d078;
    background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border-color: #a88734 #9c7e31 #846a29;
}

.button-primary:active {
    color: #111;
    background: #f3d078;
    background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border-color: #a88734 #9c7e31 #9c7e31;
}

.dropdown-menu > li > a {
    padding-left: 10px;
    padding-right: 10px;
}

.box {
    border-radius: 4px;
    border: 1px #ddd solid;
}

.box-content {
    padding: 10px 14px;
}

.product-link {
    color: #0066c0;
}

.product-link:hover {
    color: #c45500;
}

.price {
    color: #b12704;
}

.colored {
    color: #c45500;
}

.application-logo > img {
    width: 120px;
    height: 42px;
}

.headline-first {
    margin-bottom: 4px;
}

.headline-first > div {
    display: inline-block;
    height: 42px;
}

.headline-second > div {
    display: inline-block;
    height: 50px;
}

.headline .nav-left {
    position: relative;
    float: left;
}

.headline .nav-right {
    position: relative;
    float: right;
}

.headline .nav-center {
}

.headline .nav-button {
    height: 100%;
    display: inline-block;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0 8px 4px 8px;
}

.headline .nav-button:hover {
    border-color: #888;
}

.headline .nav-button:hover {
    text-decoration: none;
}

.headline .nav-button-icon {
    color: #fff;
    font-size: 35px;
    display: inline-block;
    height: 100%;
    margin-right: 2px;
}

.headline .nav-button-caption {
    display: inline-block;
    height: 100%;
}

.headline .nav-button-row-first {
    color: #aaa;
    height: 50%;
    line-height: 250%;
}

.headline .nav-button-row-second {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 50%;
}

nav-button-dropdown .dropdown-menu .icon {
    width: 20px;
    text-align: center;
}

.header {
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #232f3e;
    color: #fff;
}

.footer {
    padding-top: 24px;
}

.search-field {
    padding-left: 16px;
    padding-top: 4px;
}

.search-field > * {
    display: inline-block;
    vertical-align: middle;
}

.search-field button {
    background-color: #f3f3f3;
    color: #777;
    font-size: 12px;
    height: 34px;
    border-radius: 4px 0px 0px 4px;
}

.search-field input {
    border-radius: 0px;
    margin: 0 -4px;
}

.search-field button.search-button {
    background-color: #febd69;
    color: #333;
    font-size: 16px;
    width: 45px;
    border: none;
    border-radius: 0px 4px 4px 0px;
}

.search-field > input {
    min-width: 700px;
    width: auto;
}

.main > *:first-child {
    padding: 12px 16px;
}
