<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RiBay</title>
    <meta name="description" content="RiBay is ...">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/json-formatter/dist/json-formatter.min.css">
    <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="home/home.css">
    <link rel="stylesheet" href="status/status.css">
    <link rel="stylesheet" href="checkout/checkout.css">
    <link rel="stylesheet" href="orders/orders.css">
    <link rel="stylesheet" href="components/css/pacman.css">
    <link rel="icon" href="components/img/application-logo.png" type="image/png">
    <script type="text/ng-template" id="typeahead-template.html">
        <a>
            <img ng-src="{{match.model.image | imageIdToUrl}}" style="max-width: 16px; max-height: 16px;">
            <span>{{match.label}}</span>
        </a>
    </script>
</head>
<body>
<div id="overlays">
    <div id="blocking-overlay" ng-show="blocking"></div>
    <div id="loading-overlay" ng-show="showLoadingAnimation">
        <div class="wrapper">
            <div class="uil-pacman-css" style="-webkit-transform:scale(1)">
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <div class="headline headline-first">
        <div class="nav-left application-logo">
            <a href="#/"><img src="components/img/application-logo.png"></a>
        </div>
        <div class="nav-center search-field" ng-controller="searchController">
            <div class="btn-group" uib-dropdown>
                <button id="single-button" type="button" class="btn" uib-dropdown-toggle>
                    {{category.selected.name}} <span class="caret"></span>
                </button>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="option in category.options"><a ng-click="category.selected = option">{{option.name}}</a>
                    </li>
                </ul>
            </div>
            <input type="text" ng-model="searchText" placeholder="Article"
                   uib-typeahead="article as article.name for article in getArticlesAsync($viewValue)"
                   my-enter="search()"
                   typeahead-loading="loadingArticles" typeahead-input-formatter="$item.name"
                   typeahead-on-select="typeaheadOnSelect($item, $model, $label, $event)" class="form-control"
                   typeahead-min-length="3" typeahead-focus-first="false" typeahead-wait-ms="200"
                   typeahead-template-url="typeahead-template.html">
            <i ng-show="loadingArticles" class="glyphicon glyphicon-refresh"></i>
            <button type="button" class="btn search-button" ng-click="search()">
                <fa name="search" size="1"></fa>
            </button>
        </div>
    </div>
    <div class="headline headline-second" ng-controller="navController">
        <div class="nav-left">
            <nav-button-dropdown caption1="'Shop by'" caption2="'Genre'" items="genreMenu"
                                 uib-dropdown></nav-button-dropdown>
        </div>
        <div class="nav-right">
            <nav-button-dropdown ng-show="loggedIn" caption1="'Hello, ' + loggedIn.name" caption2="'Your Account'"
                                 items="usermenu" uib-dropdown></nav-button-dropdown>
            <nav-button href="'#/cart'" icon="'shopping-cart'" caption1="'Shopping'" caption2="'Basket'"></nav-button>
            <nav-button-dropdown icon="'wrench'" caption2="'Tools'" items="toolMenu" uib-dropdown></nav-button-dropdown>
            <nav-button ng-show="!loggedIn" href="'#/login'" icon="'sign-in'" caption2="'Login'"></nav-button>
            <nav-button ng-show="!loggedIn" href="'#/register'" icon="'pencil-square-o'" caption1="'New customer?'"
                        caption2="'Register'"></nav-button>
            <nav-button ng-show="loggedIn" ng-click="logout()" icon="'sign-out'" caption2="'Logout'"></nav-button>
        </div>
        <div class="nav-center">
            <ul class="menu" style="display: none;">
                <li><a href="#/search/So">Search page demo</a></li>
                <li><a href="#/product/1000560">Product page demo</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="main" ng-view>
</div>

<!--
<div class="footer">Angular seed app: v<span app-version></span></div>
-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/json-formatter/dist/json-formatter.min.js"></script>
<script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>
<script src="bower_components/checklist-model/checklist-model.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-fontawesome/dist/angular-fontawesome.min.js"></script>
<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="bower_components/highcharts-release/highcharts.js"></script>
<script src="app-prototype.js"></script>
<script src="app.js"></script>
<script src="app-constants.js"></script>
<script src="app-service.js"></script>
<script src="app-controller.js"></script>
<script src="app-filter.js"></script>
<script src="app-directive.js"></script>
<script src="home/home.js"></script>
<script src="search/search.js"></script>
<script src="product/product.js"></script>
<script src="cart/cart.js"></script>
<script src="userSettings/userSettings.js"></script>
<script src="login/login.js"></script>
<script src="login/loginSuccess.js"></script>
<script src="register/register.js"></script>
<script src="status/status.js"></script>
<script src="admin/admin.js"></script>
<script src="checkout/checkout.js"></script>
<script src="orders/orders.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
