/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    /* margin-bottom: 2em; */
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.application-logo > img {
    width: 120px;
    height: 48px;
    background-color: green; /* TODO remove */
}

.headline-first > div {
    display: inline-block;
}

.header {
    padding: 4px 4px 4px 4px;
}

.search-field > input {
    width: 480px;
}
