/* app css stylesheet */

html {
    font-size: 10pt;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    /* margin-bottom: 2em; */
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.application-logo > img {
    width: 120px;
    height: 42px;
    background-color: green; /* TODO remove */
}

.headline-first > div {
    display: inline-block;
}

.header {
    padding-left: 16px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
}

.footer {
    padding-top: 24px;
}

.search-field > input {
    width: 480px;
}

.viewHeader {
    height: 42px;
    border: 0.1em solid #ccc;
}

.viewHeader > div {
    display: inline-block;
    padding-left: 16px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
}

.viewHeader > .left {
    position: absolute;
    left: 0px;
}

.viewHeader > .right {
    position: absolute;
    right: 0px;
}

.colored {
    color: #c45500;
}
