<div class="status">
    <uib-tabset>
        <uib-tab heading="DB Explorer">
            <div id="container">
                <div id="left">
                    <span class="text-bold text-medium">Bucket types</span>
                    <div class="box box-content background-grey text-code">
                        <ul ng-show="bucketTypes" style="height: 360px;">
                            <li ng-repeat="bucketType in bucketTypes.slice((bucketTypes_page - 1) * 20, bucketTypes_page *20)"
                                ng-class="{'text-bolder text-underline' : bucketType == selectedBucketType}">
                                <a ng-click="selectBucketType(bucketType)">{{bucketType}}</a>
                            </li>
                        </ul>
                        <uib-pagination ng-show="bucketTypes" total-items="bucketTypes.length" ng-model="bucketTypes_page"
                                        items-per-page="20"
                                        max-size="5" class="pagination-sm" direction-links="false"
                                        boundary-links="true"
                                        boundary-link-numbers="true"
                                        rotate="true"></uib-pagination>
                    </div>
                </div>
                <div id="middle">
                    <span class="text-bold text-medium">Buckets</span>
                    <div class="box box-content background-grey text-code">
                        <ul ng-show="buckets" style="height: 360px;">
                            <li ng-repeat="bucket in buckets.slice((buckets_page - 1) * 20, buckets_page *20)"
                                ng-class="{'text-bolder text-underline' : bucket == selectedBucket}">
                                <a ng-click="selectBucket(bucket)">{{bucket}}</a>
                            </li>
                        </ul>
                        <uib-pagination ng-show="buckets" total-items="buckets.length" ng-model="buckets_page"
                                        items-per-page="20"
                                        max-size="5" class="pagination-sm" direction-links="false"
                                        boundary-links="true"
                                        boundary-link-numbers="true"
                                        rotate="true"></uib-pagination>
                    </div>
                    <div class="box box-content background-grey">
                        <json-formatter ng-show="bucket_properties" json="bucket_properties"
                                        open="100"></json-formatter>
                    </div>
                </div>
                <div id="right">
                    <span class="text-bold text-medium">Keys</span>
                    <div class="box box-content background-grey text-code">
                        <ul ng-show="keys" style="height: 360px;">
                            <li ng-repeat="key in keys.slice((keys_page - 1) * 20, keys_page *20)"
                                ng-class="{'text-bolder text-underline' : key == selectedKey}">
                                <a ng-click="selectKey(key)">{{key}}</a>
                            </li>
                        </ul>
                        <uib-pagination ng-show="keys" total-items="keys.length" ng-model="keys_page"
                                        items-per-page="20"
                                        max-size="5" class="pagination-sm" direction-links="false"
                                        boundary-links="true"
                                        boundary-link-numbers="true"
                                        rotate="true"></uib-pagination>
                    </div>
                </div>
                <div id="value">
                    <span class="text-bold text-medium">Value</span>
                    <div class="box box-content background-grey">
                        <!-- Display either json viewer or image viewer -->
                        <json-formatter ng-show="value && (selectedBucket != 'images')" json="value" open="100"></json-formatter>
                        <img ng-show="value && (selectedBucket == 'images')" src="{{value}}" />
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Cluster Status">
            <json-formatter json="clusterStatus" open="1" style="padding-top: 12px;"></json-formatter>
        </uib-tab>
        <uib-tab heading="Ring Status">
            <div class="ring_status">
                <div class="status_box" style="white-space: pre-line;">
                    <div class="status_box_header">
                        RiBay Cluster Status:
                    </div>
                    <pre>
                        {{ringstatus}}
                    </pre>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>