<div class="product-main">
    <div class="top">
        <div class="alert alert-success" ng-show="isSuccessAlertDisplayed">
            <button type="button" class="close" data-ng-click="switchBool('isSuccessAlertDisplayed')">×</button>
            <strong>{{successTextAlert}}</strong>
        </div>
    </div>
    <div class="right">
        <div class="box">
            <div class="box-content">
                <div class="quantity">
                    <span>Quantity: </span>
                    <select ng-model="quantity">
                        <option ng-repeat="n in [] | range:20" value="{{n+1}}">{{n+1}}</option>
                    </select>
                </div>
                <button type="button" class="btn button-primary" ng-click="addToCart()">Add to articles</button>
            </div>
        </div>
    </div>
    <div class="left">
        <uib-carousel interval="0" no-wrap="false">
            <uib-slide ng-repeat="image in product.images">
                <img ng-src="{{image.src}}" style="margin:auto;">
            </uib-slide>
        </uib-carousel>
    </div>
    <div class="center">
        <div class="title">
            <span>{{product.title}}</span>
        </div>
        <div class="rating noselect">
            <uib-rating ng-model="product.averageRating" max="5" readonly="true" ng-show="product.countRatings > 0"></uib-rating>
            <div ng-show="product.countRatings >= 1" class="ratingText">Rating: {{product.averageRating | number: 1}} with {{product.countRatings}} votes</div>
            <div ng-show="product.countRatings <= 0" class="ratingText">Rating: No ratings yet!</div>
        </div>
        <hr>
        <div class="price">
            <span class="caption">Price: </span>
            <span class="value">{{(product.price / 100) | currency: "€"}}</span>
        </div>
        <div class="quantity">
            <span ng-show="product.stock <= 0" class="color-error text-bold">Currently not in stock</span>
            <span ng-show="product.stock > 0" ng-class="{'color-warning': product.stock < 10}">Only {{product.stock}} left in stock</span>
        </div>
        <hr>
        <div id="product-details">
            <span class="text-medium text-bold colored">Product details</span>
            <div class="releaseYear">
                <span class="caption text-bold">Release Year: </span>
                <span class="value">{{product.year}}</span>
            </div>
            <div class="releases">
                <span class="caption text-bold">Released in: </span>
                <div class="value">
                    <table>
                        <tr ng-repeat="release in product.releases">
                            <td>{{release.country}}</td>
                            <td><span ng-bind="release.date | date:'MM/dd/yyyy'"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="genres">
                <span class="caption text-bold">Genres: </span>
                <span class="value" ng-repeat="genre in product.genres">{{genre}}{{$last ? '' : ', '}}</span>
            </div>
            <div class="actors">
                <span class="caption text-bold">Actors: </span>
                <span class="value" ng-repeat="actor in product.actors | limitTo : 5">{{actor}}{{$last ? '' : ', '}}</span>
            </div>
            <div class="details">
                <span class="caption text-bold">Plot information:</span>
                <div class="value">
                    <div ng-if="product.details">{{product.details}}</div>
                    <div class="no-plot-info"
                         ng-if="!product.details">This product does not have plot information.
                    </div>
                </div>
            </div>
            <div class="runtime">
                <span class="caption text-bold">Runtime: </span>
                <span class="value">{{product.runtime}}</span>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="product-reviews">
    <div class="reviewsTitle text-medium text-bold colored">Product Reviews</div>
    <div class="review-header">
        <div class="filter-reviews">
            <div class="filter-reviews-header">
                Filter Reviews by Rating
            </div>
            <table id="filterReviewsTable" class="review-rating-table">
                <tr class="review-table-row">
                    <td>
                        <a ng-click="reloadReviewsForFilter('-1')">Show all ratings</a>
                    </td>
                </tr>
                <tr class="review-table-row">
                    <td>
                        <a ng-click="reloadReviewsForFilter('5')">Show  <uib-rating class="rating noselect" ng-model="5" max="5" readonly="true"></uib-rating> ratings</a>
                    </td>
                </tr>
                <tr class="review-table-row">
                    <td>
                        <a ng-click="reloadReviewsForFilter('4')">Show  <uib-rating class="rating noselect" ng-model="4" max="5" readonly="true"></uib-rating> ratings</a>
                    </td>
                </tr>
                <tr class="review-table-row">
                    <td>
                        <a ng-click="reloadReviewsForFilter('3')">Show <uib-rating class="rating noselect" ng-model="3" max="5" readonly="true"></uib-rating> ratings</a>
                    </td>
                </tr>
                <tr class="review-table-row">
                    <td>
                        <a ng-click="reloadReviewsForFilter('2')">Show <uib-rating class="rating noselect" ng-model="2" max="5" readonly="true"></uib-rating> ratings</a>
                    </td>
                </tr>
                <tr class="review-table-row">
                    <td>
                        <a ng-click="reloadReviewsForFilter('1')">Show <uib-rating class="rating noselect" ng-model="1" max="5" readonly="true"></uib-rating> ratings</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="create-review" ng-show="!isCreatingReview && isFirstReview">
            <div class="title">Create Review</div>
            <div class="content">Got feedback? Share your thoughts by creating a review for this product.</div>
            <div class="button">
                <button type="button" class="btn button-primary" ng-click="createReview()" ng-show="!isCreatingReview">Create Review</button>
            </div>
        </div>
        <div class="edit-review" ng-show="!isEditingReview && !isFirstReview">
            <div class="title">Edit your Review</div>
            <div class="content">You have already created a review for this article. You can edit it if you've changed your mind.</div>
            <div class="button">
                <button type="button" class="btn button-primary" ng-click="editReview()" ng-show="!isEditingReview">Edit Review</button>
                <img ng-if="dataLoadingPreviousReview"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </div>
        </div>
        <div class="write-review" ng-show="isCreatingReview">
            <form>
                <div class="title">Write a new review</div>
                <div class="content">
                    <div class="newReviewRating">
                        <div class="title text-bold" style="font-size: 13px; margin-bottom: 5px;">Rating:</div>
                        <div class="content">
                            <uib-rating class="rate" ng-model="newRatingValue" enable-reset="false"></uib-rating>
                        </div>
                    </div>

                    <fieldset class="form-group">
                        <label for="newReviewTitle">Title</label>
                        <input type="text" class="form-control" id="newReviewTitle" placeholder="The title of your review" ng-model="newRatingTitle">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="newReviewTextArea">Review</label>
                        <textarea class="form-control" id="newReviewTextArea" rows="5" placeholder="Write your review here" ng-model="newRatingContent"></textarea>
                    </fieldset>
                </div>
                <div class="button">
                    <button type="button" class="btn button-primary" ng-disabled="dataLoading" ng-click="submitReview()">Submit Review</button>
                    <img ng-if="dataLoading"
                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </div>
            </form>
        </div>
        <div class="write-edit-review" ng-show="isEditingReview">
            <form>
                <div class="title">
                    Edit your previous review
                    <div class="subtitle-date">Last changed on: <span ng-bind="oldReviewDate | date:'MM/dd/yyyy HH:mm:ss'"></span></div>
                </div>

                <div class="content">
                    <div class="newReviewRating">
                        <div class="title text-bold" style="font-size: 13px; margin-bottom: 5px;">Rating:</div>
                        <div class="content">
                            <uib-rating class="rate" ng-model="oldRatingValue" enable-reset="false"></uib-rating>
                        </div>
                    </div>

                    <fieldset class="form-group">
                        <label for="newReviewTitle">Title</label>
                        <input type="text" class="form-control" id="oldReviewTitle" placeholder="The title of your review" ng-model="oldRatingTitle">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="newReviewTextArea">Review</label>
                        <textarea class="form-control" id="oldReviewTextArea" rows="5" placeholder="Write your review here" ng-model="oldRatingContent"></textarea>
                    </fieldset>
                </div>
                <div class="button">
                    <button type="button" class="btn button-primary" ng-disabled="dataLoading" ng-click="submitEditedReview()">Submit Edited Review</button>
                    <img ng-if="dataLoading"
                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </div>
            </form>
        </div>
    </div>
    <div class="review" ng-repeat="review in reviews">
        <div class="review-caption-first">
            <uib-rating class="rating noselect" ng-model="review.ratingValue" max="5" readonly="true"></uib-rating>
            <span>{{review.reviewTitle}}</span>
        </div>
        <div class="review-caption-second">
            <span>By {{review.author}} on</span>
            <span ng-bind="review.date | date:'MM/dd/yyyy HH:mm:ss'"></span>
        </div>
        <div class="review-content">
            <span>{{review.reviewContent}}</span>
        </div>
    </div>
    <div class="button">
        <button type="button" class="btn button-primary" ng-show="reviews_continuation != null" ng-click="loadMoreReviews()">Load more reviews</button>
    </div>
</div>