<div class="product-main">
    <div class="top">
        <div class="alert alert-success" ng-show="isSuccessAlertDisplayed">
            <button type="button" class="close" data-ng-click="switchBool('isSuccessAlertDisplayed')">×</button>
            <strong>{{successTextAlert}}</strong>
        </div>
    </div>
    <div class="right">
        <div class="box">
            <div class="box-content">
                <div class="quantity">
                    <span>Quantity: </span>
                    <select ng-model="quantity">
                        <option ng-repeat="n in [] | range:20" value="{{n+1}}">{{n+1}}</option>
                    </select>
                </div>
                <button type="button" class="btn button-primary" ng-click="addToCart()">Add to cart</button>
            </div>
        </div>
    </div>
    <div class="left">
        <uib-carousel interval="0" no-wrap="false">
            <uib-slide ng-repeat="image in product.images">
                <img ng-src="{{image.src}}" style="margin:auto;">
            </uib-slide>
        </uib-carousel>
    </div>
    <div class="center">
        <div class="title">
            <span>{{product.title}}</span>
        </div>
        <div class="rating noselect">
            <uib-rating ng-model="product.rate" max="10" readonly="true"></uib-rating>
            <div class="ratingText">Rating: {{product.rate}} with {{product.votes}} votes</div>
        </div>
        <hr>
        <div class="price">
            <span class="caption">Price: </span>
            <span class="value">{{product.price}}</span>
        </div>
        <div class="quantity">
            <span>Only {{product.quantity}} left in stock</span>
        </div>
        <hr>
        <div id="product-details">
            <span class="text-medium text-bold colored">Product details</span>
            <div class="releaseYear">
                <span class="caption text-bold">Release Year: </span>
                <span class="value">{{product.year}}</span>
            </div>
            <div class="releases">
                <span class="caption text-bold">Released in: </span>
                <div class="value">
                    <table>
                        <tr ng-repeat="release in product.releases">
                            <td>{{release.country}}</td>
                            <td><span ng-bind="release.date | date:'MM/dd/yyyy'"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="genres">
                <span class="caption text-bold">Genres: </span>
                <span class="value" ng-repeat="genre in product.genres">{{genre}}{{$last ? '' : ', '}}</span>
            </div>
            <div class="actors">
                <span class="caption text-bold">Actors: </span>
                <span class="value" ng-repeat="actor in getFirstNActors(5)">{{actor}}{{$last ? '' : ', '}}</span>
            </div>
            <div class="details">
                <span class="caption text-bold">Plot information:</span>
                <div class="value">
                    <div ng-if="product.details">{{product.details}}</div>
                    <div class="no-plot-info"
                         ng-if="!product.details">This product does not have plot information.
                    </div>
                </div>
            </div>
            <div class="runtime">
                <span class="caption text-bold">Runtime: </span>
                <span class="value">{{product.runtime}}</span>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="product-reviews">
    <div class="reviewsTitle text-medium text-bold colored">Product Reviews</div>
    <div class="review" ng-repeat="review in reviews">
        <div class="review-caption-first">
            <uib-rating class="rating noselect" ng-model="review.rating" max="5" readonly="true"></uib-rating>
            <span>{{review.title}}</span>
        </div>
        <div class="review-caption-second">
            <span>By {{review.name}} on</span>
            <span ng-bind="review.time | date:'MM/dd/yyyy HH:mm:ss'"></span>
        </div>
        <div class="review-content">
            <span>{{review.text}}</span>
        </div>
    </div>
</div>