<div class="home">
    <uib-carousel id="promo-banner" interval="0" no-wrap="false">
        <uib-slide ng-repeat="n in [] | range: 5">
            <span>Promo {{n}}</span>
            <!-- image and link here -->
        </uib-slide>
    </uib-carousel>
    <div id="right">
        <div style="text-align: center;">This is a sidebar. It can be used to <a>display things</a>.</div>
    </div>
    <div id="center">
        <div class="itemrow" ng-show="recommendations.length > 0">
            <div class="caption">
                <span class="text-big">New for you</span>
                <a>See more</a>
            </div>
            <div class="content">
                <div class="items">
                    <div class="item" ng-repeat="article in recommendations" ng-init="focused = false"
                         ng-mouseover="focused = true"
                         ng-mouseleave="focused = false">
                        <button type="button" class="detail-button box" ng-show="focused"
                                ng-click="showDetails(article)">Show details
                        </button>
                        <a ng-href="#/product/{{article.id}}"><img ng-src="{{article.image | imageIdToUrl}}"></a>
                        <!-- icons here -->
                    </div>
                </div>
            </div>
        </div>
        <div class="itemrow" ng-show="wishList.length > 0">
            <div class="caption">
                <span class="text-big">Treat yourself with ...</span>
                <a>See more</a>
            </div>
            <div class="content">
                <div class="items">
                    <div class="item" ng-repeat="article in wishList" ng-init="focused = false"
                         ng-mouseover="focused = true"
                         ng-mouseleave="focused = false">
                        <button type="button" class="detail-button box" ng-show="focused"
                                ng-click="showDetails(article)">Show details
                        </button>
                        <a ng-href="#/product/{{article.id}}"><img ng-src="{{article.image | imageIdToUrl}}"></a>
                        <!-- icons here -->
                    </div>
                </div>
            </div>
        </div>
        <div id="promo-split">
            <div>
                <a><img alt="advertising1"></a>
            </div>
            <div>
                <a><img alt="advertising2"></a>
            </div>
        </div>
        <div class="itemrow" ng-show="inspiredByWishList.length > 0">
            <div class="caption">
                <span class="text-big">Inspired by your Wish List</span>
                <a>See more</a>
            </div>
            <div class="content">
                <div class="items">
                    <div class="item" ng-repeat="article in inspiredByWishList" ng-init="focused = false"
                         ng-mouseover="focused = true"
                         ng-mouseleave="focused = false">
                        <button type="button" class="detail-button box" ng-show="focused"
                                ng-click="showDetails(article)">Show details
                        </button>
                        <a ng-href="#/product/{{article.id}}"><img ng-src="{{article.image | imageIdToUrl}}"></a>
                        <!-- icons here -->
                    </div>
                </div>
            </div>
        </div>
        <div class="itemrow" ng-show="lastVisited.length > 0">
            <div class="caption">
                <span class="text-big">Your recently watched articles</span>
                <a>See more</a>
            </div>
            <div class="content">
                <div class="items">
                    <div class="item" ng-repeat="article in lastVisited" ng-init="focused = false"
                         ng-mouseover="focused = true"
                         ng-mouseleave="focused = false">
                        <button type="button" class="detail-button box" ng-show="focused"
                                ng-click="showDetails(article)">Show details
                        </button>
                        <a ng-href="#/product/{{article.id}}"><img ng-src="{{article.image | imageIdToUrl}}"></a>
                        <!-- icons here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>