<div class="viewHeader" id="top">
    <div class="left">
        {{result.start}}-{{result.end}} of {{result.total_size}} results for <b class="colored">"{{query.text}}"</b> in
        <b>"{{search.category}}"</b>
    </div>
    <div class="right">
        <span>Sort by</span>
        <!-- TODO build an url -->
        <!--<select ng-model="sortcategory" ng-options="value.id as value.label for value in sortcategories"-->
        <select ng-model="sortCategory" ng-options="value.label for value in sortCategories"
                ng-change="searchAgain(query.text)">
        </select>
    </div>
</div>
<div class="search-main">
    <div id="left">
        <div class="headline text-medium text-light">Show results for</div>
        <!-- TODO categories -->
        <span class="headline text-medium text-light">Refine by</span>
        <div class="filter-category">
            <input type="checkbox" ng-model="query.imageOnly"/>
            <span class="text-small" ng-click="query.imageOnly = !query.imageOnly">With image only</span>
        </div>
        <div class="filter-category">
            <span class="title text-bold text-small">Avg. Customer Review</span>
            <div class="content text-small">
                <div ng-repeat="n in [] | range: 11 | reverse | limitTo: 10">
                    <a ng-click="searchAgain(query.text)"> <!-- TODO build an url -->
                        <uib-rating ng-model="n" max="10" readonly="true" class="rating"></uib-rating>
                        <span>& Up</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="center">
        <!-- TODO build an url -->
        <div class="text-medium" ng-show="result.suggestion">
            <span>Did you mean: <a ng-click="searchAgain(result.suggestion)">"{{result.suggestion}}"</a></span>
        </div>
        <div class="search-list">
            <div class="search-entry inline" ng-repeat="item in result.list">
                <div class="image-container">
                    <a href="#/product/{{item.id}}"><img ng-src="{{item.image}}"></a>
                </div>
                <div>
                    <div class="text-medium">
                        <a href="#/product/{{item.id}}" class="product-link text-medium">{{item.title}}</a>
                    </div>
                    <div class="inline">
                        <div class="details-left">
                            <span class="price text-bold">{{(item.price / 100) | currency: "€"}}</span>
                        </div>
                        <div class="details-right">
                            <div class="rating noselect">
                                <uib-rating ng-model="item.mediumRating" max="10" readonly="true"></uib-rating>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <!-- TODO build an url -->
            <uib-pagination total-items="result.total_size" ng-model="query.pageInfo.page_no"
                            items-per-page="query.pageInfo.page_size"
                            max-size="10" class="pagination-sm" boundary-links="true" boundary-link-numbers="true"
                            rotate="true" ng-change="onPageChange()"></uib-pagination>
        </div>
    </div>
</div>
